.advantages {
  background: linear-gradient(176deg, @basic-white, @basic-white 80%, @basic-gray 80%, @basic-gray 100%);
  background-color: @basic-white;
}

.advantages__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.advantages__header {
  padding-top: 46px;
  padding-bottom: 70px;

  @media (min-width: @desktop-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__slogan {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @basic-grayfont;
  text-align: center;

  @media (min-width: @desktop-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__slogan:not(:last-child) {
  padding-bottom: 32px;
}

.advantages__list {
  .reset-ul();
  text-align: center;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    padding-left: 50%;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-top: 432px;
  }
}

.advantages__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @basic-black;

  @media (min-width: @desktop-width) {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-grayfont;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
