.contest {
  @media (min-width: @tablet-width) {
    background-color: @basic-white;
  }
}

.contest__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: @basic-white;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}


.contest__form-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.contest__fieldgroup--change-application {
  padding-bottom: 54px;

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.contest__fieldgroup--contacts {
  padding-top: 42px;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.contest__fieldgroup--advantages {
  @media (min-width: @tablet-width) {
    order: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.contest__fieldgroup--emotion {
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    order: 5;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}


.contest__legend {
  .reset-p();
  padding: 54px 20px 55px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @basic-grayfont;
  background-color: @basic-white;

  @media (min-width: @desktop-width) {
    padding: 54px 130px 55px;
  }
}

.contest__fieldgroup-list {
  .reset-ul;
}

.contest__fieldgroup-wrapper {
  padding: 42px 20px 44px;
}

.contest__fieldgroup:nth-child(2n) .contest__fieldgroup-wrapper {
  background-color: @basic-gray;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
  }
}

.contest__fieldgroup {
  .reset-fieldset();
  position: relative;


  &--personal-info label {
    padding-left: 43px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @basic-pink;
  }

  &--advantages legend {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: @basic-pink;
  }

  &--advantages label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @basic-grayfont;
  }

  &--contacts label {
    padding-left: 43px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @basic-pink;
  }

  &--change-application legend {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: @basic-pink;
  }

  &--change-application label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: @basic-grayfont;
  }

  &--emotion label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: @basic-pink;
  }
}

.contest__personal-info,
.contest__phone-number,
.contest__email {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 23px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @basic-grayfont;
  border: 2px solid @special-gray;
  border-radius: 1px;
}

.contest-text-area {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @basic-grayfont;
}

.contest__button-wrapper {
  padding: 0 20px;
}

.button {
  .reset-button();
  width: 100%;
  margin-bottom: 69px;
  margin-top: 75px;
  padding: 23px 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-white;
  background: @basic-green;
  border: 2px solid @basic-green;
  border-radius: 1px;
}

.contest__footnote {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-grayfont;
}

.contest__footnote span {
  color: @basic-pink;
}
