.download {
  background-color: @basic-darkgray;
}

@media (min-width: @tablet-width) {
  .download {
    background-image: url("../img/phone.png"), url("../img/screen.png"), url("../img/back-mobile.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom center, center, top;
    background-size: auto, auto, 100%;
  }
}

@media (min-width: @tablet-width) {
  .download__wrapper {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .download__wrapper {
    width: 33%;
  }
}

.download__header {
  min-height: 396px;
  padding-top: 28px;
  background-image: url("../img/phone.png"), url("../img/back-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top;
  background-size: auto, 100%;
}

@media (min-width: @tablet-width) {
  .download__header {
    min-height: auto;
    padding-top: 102px;
    background: none;
  }
}

.download__slogan {
  margin: 0;
  padding: 0;
  color: @basic-white;
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;
}

.download__link-default {
  display: block;
  box-sizing: border-box;
  margin-top: 28px;
  margin-bottom: 38px;
  padding: 21px 39px;
  color: @basic-white;
  border: 3px solid @basic-white;
  border-radius: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}

.download__links-list {
  .reset-ul();
  display: flex;
}

.download__links-item a {
  text-decoration: none;
  color: @basic-white;
}

.download__legend {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @basic-white;
}
