.download {
  margin-top: -66px;
  background-color: @basic-darkgray;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
    background-image: url("../img/back-tablet.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    margin-top: -110px;
    background-image: url("../img/back-desktop.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

.download__layout {
  display: grid;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 130px;
  }
}

.download__wrapper {
  @media (min-width: @desktop-width) {
    min-width: 300px;
  }
}

.download__header {
  min-height: 396px;
  padding-top: 95px;

  @media (min-width: @tablet-width) {
    min-height: auto;
    padding-top: 102px;
    background: none;
  }
}

.download__slogan {
  margin: 0;
  padding: 0;
  color: @basic-white;
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  text-align: center;

  @media (min-width: @desktop-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}

.download__link-default {
  display: block;
  box-sizing: border-box;
  margin-top: 28px;
  margin-bottom: 38px;
  padding: 21px 0;
  color: @basic-white;
  border: 3px solid @basic-white;
  border-radius: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
}

.download__links-list {
  .reset-ul();
  display: flex;
  flex-wrap: wrap;
}

.download__links-item a {
  text-decoration: none;
  color: @basic-white;
}

.download__legend {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @basic-white;
}
