.effect {
  display: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.effect__wrapper {
  grid-column: ~"2 / 3";
  max-width: 1180px;
  padding: 0 20px 0 0;

  @media (min-width: @desktop-width) {
    max-width: 570px;
    padding: 0 130px 0 0;
  }
}

.effect__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: @basic-black;
  text-shadow: 0 4px 4px @special-opacityblack25;

  @media (min-width: @desktop-width) {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }
}

.effect__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-grayfont;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__more-link {
  .reset-a();
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-pink;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
