.effect {
  display: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 429px;
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 370px 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 130px 30px;
    background-position: left 150px center;
    background-color: @basic-gray;
  }
}

.effect__wrapper {
  position: relative;
  grid-column: ~"2 / 3";
  max-width: 1180px;
  padding: 0 20px 0 0;

  @media (min-width: @desktop-width) {
    grid-column: ~"2 / 4";
    max-width: 570px;
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 54px;
    left: -310px;
    width: 238px;
    height: 276px;
    background-image: url("../img/timer.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      top: 44px;
      left: -369px;
      width: 298px;
      height: 345px;
      background-image: url("../img/timer.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.effect__title {
  .reset-h2();
  margin-top: 102px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: @basic-black;
  text-shadow: 0 4px 4px @special-opacityblack25;

  @media (min-width: @tablet-width) {
    margin-top: 94px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 140px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }
}

.effect__title br {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.effect__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-grayfont;

  @media (min-width: @tablet-width) {
    .reset-p();
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 27px;
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__more-link {
  .reset-a();
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  color: @basic-pink;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 29px;
    font-size: 18px;
    line-height: 30px;
  }

  &:hover {
    text-decoration: underline;
    color: @basic-grayfont;
  }

  &:active {
    color: fade(@basic-grayfont, 30%);
  }
}
