.intro {
  margin-top: -69px;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 100% auto;
  }

  @media (min-width: @tablet-width) {
    margin-top: -110px;
    background-image: url("../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: -110px;
    background-image: url("../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: 100% auto;
    }
  }
}

.intro__wrapper {
  max-width: 1180px;
  min-height: 238px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    min-height: 440px;
  }

  @media (min-width: @desktop-width) {
    min-height: 394px;
    padding: 0 130px;
  }
}

.intro__title {
  .reset-h1();
  padding-top: 96px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    padding-top: 177px;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 169px;
    padding-bottom: 0;
  }
}
