.main-navigation {
  position: relative;
  width: 100%;
}

.main-navigation__list {
  .reset-ul();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: @basic-white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .main-navigation__list {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 46px;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
  }
}

.main-navigation__item {
  text-align: center;
  background: @basic-grayfont;
  box-shadow: 0 1px 0 @basic-black, inset 0 1px 0 @special-opacitygray15;
}

@media (min-width: @desktop-width) {
  .main-navigation__item {
    text-align: unset;
    background: none;
    box-shadow: none;
  }
}

.main-navigation__item a {
  display: block;
  color: @basic-white;
  text-decoration: none;
}

.main-navigation__toggle {
  position: absolute;
  right: 20px;
  top: -45px;
  width: 50px;
  height: 24px;
  background-color: @basic-grayfont;
  border: none;
}

.main-navigation--close.main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  border-radius: 1px;
  background-color: @basic-white;
  box-shadow: 0 10px 0 0 @basic-white, 0 20px 0 0 @basic-white;
}

.main-navigation--open.main-navigation__toggle::before,
.main-navigation--open.main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: auto;
  left: auto;
  width: 30px;
  height: 3px;
  background-color: @basic-white;
}

.main-navigation--open.main-navigation__toggle::after {
  transform: rotate(45deg);
}

.main-navigation--open.main-navigation__toggle::before {
  transform: rotate(-45deg);
}
