.main-navigation {
  position: relative;
  width: 100%;

  &--open {
    @media (max-width: @mobiletablet-width-only) {
      position: absolute;
      top: 66px;
      left: 0;

      @media (min-width: @tablet-width) {
        top: 110px;
      }
    }
  }
}

.main-navigation--close .main-navigation__list {
  @media (max-width: @mobiletablet-width-only) {
    display: none;
  }
}

.main-navigation__list {
  .reset-ul();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: @basic-white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .main-navigation__list {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;
    padding-top: 46px;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
  }
}

.main-navigation__item {
  text-align: center;
  background: @basic-grayfont;
  border-bottom: 1px solid @basic-black;
  box-shadow: 0 1px 0 @basic-black, inset 0 1px 0 @special-opacitygray15;

  @media (max-width: @mobiletablet-width-only) {
    &:first-child {
      border-top: 1px solid @basic-black;
    }
  }

  @media (min-width: @desktop-width) {
    position: relative;
    border: none;
    box-shadow: none;
  }
}

.main-navigation__item--current::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    left: 4px;
    bottom: -13px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: @basic-white;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation__item {
    padding-left: 5px;
    text-align: unset;
    background: none;
    box-shadow: none;
  }
}

.main-navigation__item a {
  display: block;
  color: @basic-white;
  text-decoration: none;

  &:hover {
    color: @basic-pink;
  }

  &:active {
    color: fade(@basic-pink, 30%);

    @media (min-width: @desktop-width) {
      color: fade(@basic-white, 30%);
    }
  }
}

.main-navigation__toggle {
  position: absolute;
  right: 20px;
  top: -47px;
  width: 50px;
  height: 24px;
  background-color: @basic-grayfont;
  border: none;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-navigation--close .main-navigation__toggle {
  background-color: @special-opacityblack30;
}

.main-navigation--close .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  border-radius: 1px;
  background-color: @basic-white;
  box-shadow: 0 10px 0 0 @basic-white, 0 20px 0 0 @basic-white;
}

.main-navigation--close:hover .main-navigation__toggle::before,
.main-navigation--close:hover .main-navigation__toggle::after {
  background-color: @basic-pink;
  box-shadow: 0 10px 0 0 @basic-pink, 0 20px 0 0 @basic-pink;
}

.main-navigation--close:active .main-navigation__toggle::before,
.main-navigation--close:active .main-navigation__toggle::after {
  background-color: fade(@basic-pink, 30%);
  box-shadow: 0 10px 0 0 fade(@basic-pink, 30%), 0 20px 0 0 fade(@basic-pink, 30%);
}

.main-navigation--open .main-navigation__toggle::before,
.main-navigation--open .main-navigation__toggle::after {
  content: "";
  position: absolute;
  top: auto;
  left: auto;
  width: 30px;
  height: 3px;
  background-color: @basic-white;
}

.main-navigation__toggle:hover::before,
.main-navigation__toggle:hover::after {
  background-color: @basic-pink;
}

.main-navigation--open:active .main-navigation__toggle::before,
.main-navigation--open:active .main-navigation__toggle::after {
  background-color: fade(@basic-pink, 30%);
}

.main-navigation--open .main-navigation__toggle::after {
  transform: rotate(45deg);
}

.main-navigation--open .main-navigation__toggle::before {
  transform: rotate(-45deg);
}

.page-body--no-js .main-navigation__toggle {
  display: none;
}
