.modal__title {
  .reset-h3();
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @basic-black;
}

.modal__text {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-grayfont;
}
