.page-body {
  min-width: 280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", "Arial", sans-serif;
  background-color: @basic-gray;
  color: @basic-grayfont;

  @media (min-width: @tablet-width) {
    min-width: 660px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1200px;
  }
}
