.page-footer {
  background-color: @basic-white;

  @media (max-width: @mobile-width-only) {
    padding-bottom: 51px;
  }
}

.page-footer__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 41px;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.page-footer__logo {
  margin: 0 auto;
  padding-top: 40px;
  width: 145px;
  height: 40px;

  @media (min-width: @tablet-width) {
    margin: 36px auto 51px;
    padding-top: 0;
  }
}
