.page-footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: @basic-white;
}

@media (min-width: @tablet-width) {
  .page-footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.page-footer__logo {
  margin: auto;
}
