.page-body {
  min-width: 340px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", "Arial", sans-serif;
  background-color: @basic-gray;
  color: @basic-grayfont;
}

@media (min-width: @tablet-width) {
  .page-body {
    min-width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .page-body {
    min-width: 1200px;
  }
}
