.photos {
  background-color: @basic-white;
}

.photos__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.photos__description {
  .reset-p();
  padding-top: 54px;
  padding-bottom: 60px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @basic-grayfont;
  background-color: @basic-white;
}

.photos__list {
  .reset-ul();
  display: flex;
  flex-direction: column;
  row-gap: 20px;


  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }
}

.photos__item:first-child {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.photos__item {
  .reset-article();
  background-color: @basic-gray;

  @media (min-width: @tablet-width) {
    width: calc((100% - 20px) / 2);
  }

  @media (min-width: @desktop-width) {
    width: calc((100% - 40px) / 3);
  }
}

.photos__link {
  display: block;
  background-color: @special-gray;
}

.photos__item:first-child .photos__link {
  position: relative;
  left: -20px;

  @media (min-width: @desktop-width) {
    left: -130px;
  }
}

.photos__item:first-child .photos__image {
  display: block;
  width: calc(100% + 40px);
  height: auto;

  @media (min-width: @desktop-width) {
    width: calc(100% + 260px);
  }
}

.photos__item:not(:first-child) .photos__image {
  display: block;
  width: 100%;
  height: auto;
}

.photos__name {
  .reset-p();
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 14px;
  padding-left: 17px;
  padding-right: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @basic-grayfont;
}

.photos__time-ago {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic-grayfont;
}

.photos__text {
  .reset-p();
  margin-bottom: 25px;
  padding-left: 17px;
  padding-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-grayfont;
}

.photos__like-text {
  position: relative;
  padding-left: 48px;
  padding-right: 10px;
  padding-bottom: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic-pink;

  &::before {
    content: "";
    position: absolute;
    left: 17px;
    top: 7px;
    display: block;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon/heart.svg");
  }
}
