.photos {
  background-color: @basic-white;
}

.photos__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.photos__description {
  .reset-p();
  padding: 44px 15px 51px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @basic-grayfont;
  background-color: @basic-white;

  @media(min-width: @tablet-width) {
    padding: 91px 30px 77px;
    font-size: 18px;
    line-height: 30px;
  }

  @media(min-width: @desktop-width) {
    padding: 91px 300px 89px;
  }
}

.photos__list {
  .reset-ul();
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;


  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 130px;
    row-gap: 50px;
  }
}

.photos__item:first-child {
  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.photos__item:first-child .photos__item-layout {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.photos__item-layout .photos__text {
  @media (min-width: @tablet-width) {
    order: 1;
    margin-bottom: 30px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 25px;
    padding-bottom: 0px;
  }
}

.photos__item-layout .photos__like-text {
  @media (min-width: @tablet-width) {
    margin: 24px 0 0;
    padding: 0 59px 0 0;
  }
}

.photos__item-layout .photos__like-text::before {
  top: 6px;
  left: 19px;

  @media (min-width: @tablet-width) {
    left: 105px;
  }
}

.photos__item {
  .reset-article();
  background-color: @basic-gray;

  @media (min-width: @tablet-width) {
    width: calc((100% - 20px) / 2);
    min-height: 121px;
  }

  @media (min-width: @desktop-width) {
    width: calc((100% - 40px) / 3);
    min-height: 96px;
  }
}

.photos__link {
  display: block;
  background-color: @special-gray;
}

.photos__item:first-child .photos__link {
  position: relative;
  left: -20px;

  @media (min-width: @desktop-width) {
    left: -130px;
  }
}

.photos__panorama {
  position: relative;
  left: -20px;

  @media(min-width: @desktop-width) {
    left: 0;
  }
}

.photos__panorama-wrapper {
  position: relative;
  width: 100%;
}

.photos__panorama-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 2;
  display: block;
  width: 140px;
  height: 36px;
  background-image: url("../img/icon/panorama-of-the-day.svg");

  @media (min-width: @tablet-width) {
    top: 57px;
  }

  @media (min-width: @desktop-width) {
    top: 54px;
    right: 130px;
  }
}

.photos__image {
  display: block;
  width: calc(100% + 40px);

  @media (min-width: @desktop-width) {
    width: 100%;
    height: auto;
  }
}

.photos__item:not(:first-child) .photos__image {
  display: block;
  width: 100%;
  height: auto;
}

.photos__name {
  .reset-p();
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 2px;
  padding-left: 17px;
  padding-right: 3px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @basic-grayfont;

  @media (min-width: @tablet-width) {
    margin-top: 22px;
    padding-left: 30px;
  }
}

.photos__time-ago {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic-grayfont;
}

.photos__text {
  .reset-p();
  padding: 0 12px 0 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-grayfont;

  @media (min-width: @tablet-width) {
    padding: 0 12px 0 30px;
  }
}

.photos__like-text {
  .reset-p();
  position: relative;
  margin-top: 10px;
  padding-left: 48px;
  padding-right: 10px;
  padding-bottom: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @basic-pink;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-bottom: 26px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 17px;
    top: 7px;
    display: block;
    width: 13px;
    height: 12px;
    background-image: url("../img/icon/heart.svg");

    @media (min-width: @tablet-width) {
      left: 257px;
    }
  }
}
