

.price-table__row th:nth-child(1) {
  display: none;
}

.price-table__cell {
  overflow: hidden;
}

.price-table__cell:nth-child(1) {
  display: none;
}

.price-table__cell:nth-child(3) {
  display: block;
  width: 280px;
}
