.reviews {
  background: linear-gradient(176deg, @basic-white, @basic-white 95%, @basic-gray 95%, @basic-gray 100%);

  @media (min-width: @desktop-width) {
    position: relative;
    padding-top: 193px;
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      top: 15%;
      left: calc(50% - 39px);
      width: 79px;
      height: 63px;
      background-image: url("../img/quotes.svg");
    }
  }
}

.reviews__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.reviews__list {
  .reset-ul();
}

.reviews__item {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: min-content min-content;
  }

  &:not(:first-child) {
    display: none;
  }
}

.reviews__title {
  .reset-h3();
  padding-top: 50px;
  padding-bottom: 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    padding-bottom: 49px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
}

.reviews__title-addition {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: @basic-grayfont;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @basic-grayfont;

  @media (min-width: @tablet-width) {
    order: -1;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__button-wrapper button {
  .reset-button();
}

.reviews__prev {
  display: none;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 50%;
    left: 5%;
    display: block;
    width: 22px;
    height: 41px;
    background-image: url("../img/left-arrow.svg");
  }
}

.reviews__next {
  display: none;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 50%;
    right: 5%;
    display: block;
    width: 22px;
    height: 41px;
    background-image: url("../img/right-arrow.svg");
  }
}

.reviews__toggles {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
