.reviews {
  background: linear-gradient(176deg, @basic-white, @basic-white 90%, @basic-gray 90%, @basic-gray 100%);
}

.reviews__list {
  .reset-ul();
}

.reviews__title {
  margin-top: 50px;
  margin-bottom: 31px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: @basic-black;
}

.reviews__text {
  margin: 0;
  margin-bottom: 44px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @basic-grayfont;
}

.reviews__button-wrapper button {
  .reset-button();
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

.reviews__toggles {
  padding-bottom: 60px;
}

.reviews__toggle {
  .reset-button();
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: @basic-grayfont;
  opacity: 0.3;
}
